<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- elements ui-->
  <link rel="stylesheet" href="/static/index.css"/>
  <!--code mirror-->
  <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css"/>
  <link rel="stylesheet" href="/static/codemirror/addon/fold/foldgutter.css"/>

  <script src="/static/vue.js"></script>
  <script src="/static/index.js"></script>
  <script src="/static/jquery-3.3.1.min.js"></script>
  <style type="text/css">
    .code-block {
      border-style:solid;
      border: 1px solid #eee9f2;
      height: 500px
    }
    .tagClass{
      margin-right: 10px;
      margin-top: 10px;
    }
  </style>
  <title>Neon Playground</title>
</head>
<body>
<div id="app" style="padding: 10px 20px 10px 20px">
  <el-container>
    <el-header>
      <el-row>
        <el-col :span="24">
          <div style="text-align: center; font-size:20px; color: red; padding: 20px 0px 0px 0px">
            Neon(c++) playground for beginners
          </div>
        </el-col>
      </el-row>
    </el-header>
    <el-main>
      <el-row>
        <el-col :span="24">
          <div style="font-size:15px; color: blue;">
            This page runs on my old Redmi Note3 cellphone that only has very limited resources, programs with big memory or heavy cpu load do not allow to run here. If logs like 'std::bad_alloc' or 'Process exec time out' show on the console, that means your code consumes too much resouces. Currently, only 50MB heap memory can be used for single submition and the program must be finished in 20s. Enjoy yourself!
          </div>
        </el-col>
      </el-row>

      <div style="height: 10px"></div>

      <el-row>
        <el-col :span="1">
          <div style="text-align: center; font-size:18px;">
            code:
          </div>
        </el-col>
        <el-col :span="1" :offset="11">
          <div style="text-align: center; font-size:18px;">
            console:
          </div>
        </el-col>
      </el-row>

      <el-row :gutter="15">
        <el-col :span="12">
          <div class="code-block">
            <textarea id="code"></textarea>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="code-block">
            <textarea id="console"></textarea>
          </div>
        </el-col>
      </el-row>

      <div style="height: 15px"></div>

      <el-row>
        <el-col :span="2" :offset="7">
          <div>
            <el-dropdown>
              <el-button type="primary" plain>
                history<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item
                    v-for="his in history"
                    @click.native="Reload(his.name)">
                  {{ his.label }}
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </el-col>
        <el-col :span="1">
          <div>
            <el-button type="primary" plain icon="el-icon" @click="Save">save</el-button>
          </div>
        </el-col>
        <el-col :span="1" :offset="1">
          <div>
            <el-button type="primary" plain icon="el-icon" @click="Run">run</el-button>
          </div>
        </el-col>
        <el-col :span="1" :offset="11">
          <div>
            <el-button type="primary" plain icon="el-icon" @click="Clear">clear</el-button>
          </div>
        </el-col>
      </el-row>

      <div style="height: 15px"></div>

      <el-row>
        <el-col :span="24">
          <div style="font-size:18px;">
            example:
          </div>
        </el-col>
      </el-row>

      <div style="height: 15px"></div>

      <div class="tag-group">
        <el-button
          v-for="row in example"
          class="tagClass"
          type="primary"
          size="small"
          plain
          @click="Update(row.name)">
          {{ row.text }}
        </el-button>
      </div>
   </el-main>
   <el-footer>
   </el-footer>
  </el-container>
</div>
<!--code mirror-->
<script src="/static/codemirror/lib/codemirror.js"></script>
<script src="/static/codemirror/mode/clike/clike.js"></script>
<script src="/static/codemirror/addon/fold/foldcode.js"></script>
<script src="/static/codemirror/addon/fold/foldgutter.js"></script>
<script src="/static/codemirror/addon/fold/brace-fold.js"></script>
<script src="/static/codemirror/addon/fold/comment-fold.js"></script>
<script src="/static/main.js"></script>
</body>
</html>


